<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cafe.gccoffee.model.mapper.OrderMapper">

    <insert id="insertOrder">
        INSERT INTO ORDERS(ORDER_ID, EMAIL, ADDRESS, POSTCODE, ORDER_STATUS, CREATED_AT)
        VALUES (UNHEX(REPLACE(#{id},"-","")), #{email}, #{address}, #{postcode}, "PENDING", NOW())
    </insert>

    <insert id="insertOrderItem" keyProperty="id" keyColumn="id">
        INSERT INTO ORDER_ITEMS(ORDER_ID, PRODUCT_ID, CATEGORY, PRICE, QUANTITY, CREATED_AT)
        VALUES (UNHEX(REPLACE(#{orderId},"-","")),UNHEX(REPLACE(#{productId},"-","")), #{category}, #{price}, #{quantity}, NOW())
    </insert>
    <select id="getOrderList" resultType="org.cafe.gccoffee.model.dto.order.OrderResponse">
        SELECT BIN_TO_UUID(O.ORDER_ID) as id,
               O.EMAIL,
               O.ADDRESS,
               O.POSTCODE,
               O.ORDER_STATUS as orderStatus,
               P.PRODUCT_NAME as productName,
               OI.QUANTITY,
               OI.PRICE as totalPrice,
               O.CREATED_AT as createdAt,
               O.UPDATED_AT as updatedAt
        FROM ORDERS O
        INNER JOIN ORDER_ITEMS OI ON BIN_TO_UUID(O.ORDER_ID) = BIN_TO_UUID(OI.ORDER_ID)
        INNER JOIN PRODUCTS P ON BIN_TO_UUID(OI.PRODUCT_ID) = BIN_TO_UUID(P.PRODUCT_ID)
        ORDER BY O.CREATED_AT DESC
        LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="getTotalOrderCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ORDERS
    </select>
</mapper>